footer{
	clear: both;
}
 footer > div.container > ul > li{
	list-style: none;
	float: left;
	display: inline;
	margin: 6px 8px;
	text-align: center;
}

.select2-container--default .select2-selection--single {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important; 

}

select.select2-hidden-accessible{
	display:none !important;
}

.select2-container .select2-selection--single{
	width: 100% !important;
}
#plot-estate-details{
	.input-group{
		max-width: 21%;
		float:left;
		margin: 4px;
	}
}
.form-group{
	width: 100%;
	.input-group{
		margin: 3px !important;
	}
	.select2{
		width: 169px;
	}
  .select2-selection--single{
    height: 34px !important;
  }
}