/*
 * Base structure
 */
$dashboard-backgroud: ;


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
    background: $background-dashboard;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/*
dashboard nav
*/

#comenu >  a{
    padding: 2px;
    text-decoration: none;
    color: #9d9d9d;
}

ul#userdrop > li > a > img{
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin: -4px 2px;
    }


#comenu >  a:hover{
    color: white;
}
#comenu > a:last-child {
    margin: 0 5px;
    padding: 4px;
    font-size: 1em;
    font-size: 1.2rem;
}
#userdrop{
    padding: 0 5px;
    margin: 0 2px;
    display: block;  
}

/*dashboard side bar*/

div.sidebar{
    display: block;
}
div.sidebar > ul.userbrief > li{
    padding: 8px 0;
    text-transform: capitalize; 
    font-weight: bold
}
div.sidebar > ul.userbrief > li.department{
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    text-align: center;
    text-transform: uppercase;   
}

div.sidebar > ul.userbrief{
    text-align: center;
    border-bottom: 1px solid #ddd;
}

div.sidebar > ul.userbrief > li.cons{
    
}
div.sidebar > ul.userbrief > li.cons > a{
    float: left;
    display: inline;
}
div.sidebar > ul.userbrief > li.cons > a:last-child{
    float: right;
}
div.sidebar > ul.userbrief > li.thumber > img{
    width: 98px;
    height: 98px;
    vertical-align: middle;
    margin: -4px 2px;
    border: 3px solid black;   
}

/*sidebar navigation*/

#snav{
   text-transform: capitalize;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

#snav > li >a >span.octicon{
    margin-right: 10px;
    font-size: 1.3em;
    font-size: 1.9rem;

}
#snav > li >a  {
 display: block;

    
}
#snav > li >a > span{
 padding: 12px 4px 8px 0;
}
/*content*/

/*content navigation fetcher*/

.fetcher{
    background: white;
    text-transform: capitalize;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #333;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    position: relative;
}
    /* reset bootstrap setting for this block*/
.fetcher .navbar{
    margin-bottom: 0 !important;
}

.fetcher .navbar .container{

margin: 0 !important;
padding: 0 !important;
}
.fetcher  ul.navbar-nav > li{
    border-right: 1px solid #ddd;
}

.fetcher  ul > li > a{
 color: #888;   
}
.fetcher  ul > li > form, .fetcher  ul > li > form > input, .fetcher  ul > li > button{
    padding:0 !important;
    margin: 0 !important;
    border-style: none;
    box-shadow: none;
}

 .fetcher  ul > li >form button.octicon{
    border: none;
    background: rgb(255, 255, 255);
    padding: 17px;
    margin-left: 0 !important;
    color: #888;
}

.fetcher  ul > li > form > input{
    line-height: 28px;
    padding: 1px 12px !important;
    background: #F3F3F3;
    height: 50px;
    border-right: 1px solid #ddd;
}
.active{
    font-size: 18px;
    color:#555;
}
.breadcrumbs, nav.breadcrumbs > ol.breadcrumb {
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     border-radius: 0;
 }
div.loader{
    margin-top: -18px;
    display: none;
}
div.loader > div.progress{
    height: 3px;
}
div.loader > div.progress> div.progress-bar{
 transition: width .3s !important;

}
div.panel a.sbm {

    border: 1px solid #ddd;
    padding: 1px 10px;
    background: white;
}
.panel-heading > .fiet{
     float: right;
    display: inline-block;
    margin-top: -16px;
}
@media (max-width: 768px){
    
        /* reset bootstrap setting for this block*/
        .navbar-nav > li > a {
            padding-top: 10px;
            padding-bottom: 19px;
            line-height: 20px;
        }
        .fetcher  ul > li > form > input{
            line-height: 28px;
            padding: 1px 12px !important;
            background: #F3F3F3;
            height: 50px;
            border-right: 1px solid #ddd;
        }
        .navbar-nav{
            margin: 0 !important;
        }
        .fetcher  ul > li{
            border-right: 1px solid #ddd;
            float: left;
            display: inline;
        }
        .fetcher .navbar{
            margin-bottom: 0 !important;
        }
        .fetcher .navbar .container{
            margin: 0 !important;
            padding: 0 !important;
        }
        .fetcher  ul > li > form > input{
            line-height: 28px;
            padding: 1px 12px !important;
            background: #F3F3F3;
            height: 50px;
            border-right: 1px solid #ddd;
        }
    .profile_nav ul > li {
        float: left;
        display: inline;
    }
#check{
    max-width: 54% !important;
    position: absolute;
    top: 40px !important;
    left: 25px !important;
}
}
.expand{
    margin-left: 0 !important;
    width: 100%;
}
.hide{
    display: none !important;
}

#check{
    max-width: 38%;
    position: absolute;
    top: 53px;
    left: -237px;
}
.sek {
    float: left;
    margin: 8px;
    display: inline-block;  
}
#user_form .form-group > hr{
    margin-top: 5px !important;
    margin-bottom: 10px !important; 
}

#user_form .form-group{
    margin-bottom: 44px;
}
.line{
    padding: 10px 6px;
}
.line >a {
margin: 2px 8px;
}
div.lineputs{
.titlehd{
    font-weight: bold;
}
   span{

    display:inline;
    float:left;
    margin: 3px;
   } 

   span > input.smallest{
     padding: 2px;
     width: 50px; 
   }
   span > input.smaller{

     padding: 2px;
     width: 70px;  
   }
    span  > label, span > label{

        display:block !important;
        margin: 1px;
        font-weight: normal;
    }    
}