
ul#systems{
    li{
    	margin: 0.2em;
    	margin: 0.1rem;
    }
    li.system  > a {
    	margin-left: 1.3em;
	    margin-left: 1.2rem;
		display:none;
    }

    .system-menu {
    	margin-left: 3.9em;
	    margin-left: 3.6rem;
	    display: none; 

    }
}